@import "normalize.styl"

.verde_a
	background #70AA39
.verde_b
	background #97c335
.verde_c
	background #cde1a7

.mostly
	max-width 64em
	margin 0 auto

.mostly-column
	width 50%
	float left
.right
	float right
.left
	float left

.columndrop
	font-size 0

.columndrop-row
	display inline-block
	font-size: 16px;
	vertical-align top
	width 25%
.shifter
	max-width 1024px
	margin 0 auto
.shifter-top
	margin-bottom 20px
.shifter-bottom
	padding 20px 10px
	overflow hidden
.shifter-column
	width 50%
	float left
.tweaks
	max-width 768px
	margin 0 auto
	text-align center
	font-size 16px
.tweaks-tittle
.tweaks-name
	font-size 5em
.tweaks-username
	font-size 2.5em
.tweaks-bio
	font-size 2em
	