@font-face {
	font-family: 'icomoon';
	src:url('redesSociales/icomoon.eot');
	src:url('redesSociales/icomoon.eot?#iefix') format('embedded-opentype'),
		url('redesSociales/icomoon.woff') format('woff'),
		url('redesSociales/icomoon.ttf') format('truetype'),
		url('redesSociales/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
{
	background: white;
	font-family: arial;
	font-size: 16px;
	margin: 0px;
	
}

header
{
	border-bottom: 5px #cc9c00 solid;
	margin: 0px;
	padding: 0px;

}

header figure, header h1
{
	display: inline-block;
	vertical-align: top;
}

header #avatar
{
	margin: 10px 0 10px 25px;

}

header #avatar img
{
	border-radius: 50%;
	border: 1px black solid;
	width: 90px;
}

header h1
{
	color: black;
	font-size: 25px;
	font-weight: normal;
	margin-left: 28%;
	width: 50%;
	
	
}

header h1 #header_merida
{
	color: #cc9c00;
}

header #logo
{
	float: right;
	margin-right: 20px;
	margin-top: 5px;
	position: absolute;

}

header #logo img
{
	width: 70px;
}

nav
{
	background: #7a474c;
	float: right;
	font-size: 0.9em;
	margin-right: 2.3%;
	margin-top: -2em;

}

nav ul
{
	list-style: none;
	margin: 2px;
	padding: 0;

	
}

nav ul li
{
	color: white;
	display: inline-block;
	margin: 0 0.5em 0 0;

}

nav ul li a
{
	color: white;	
	padding: 0 1.5em 0 1.5em;
	text-decoration: none;

}

nav ul li a:hover
{
	color: #cc9c00;
	text-decoration: underline;
}

footer
{
	background: #7a474c;
	border-top: 5px #cc9c00 solid;
	padding: 15px 0;
}

footer p
{
	display: inline-block;
}

footer #footer_div1, footer #footer_div2
{
	display: inline-block;
	vertical-align: top;
}

footer #footer_div1
{
	margin-left: 15px;
}

footer #footer_div1 #footer_aplicaciones
{
	color: white;
}

footer #footer_div1 #footer_aplicaciones #footer_ria
{
	color: #cc9c00;
}

footer #footer_div2
{
	float:right;
	margin-right: 10px; 

}

footer #footer_div2 a
{
	padding: 0 0.5em 0 0.5em;
}

footer #footer_div2 #footer_twitter:before
{
	color: white;
	content: "\e001";
	font-family: 'icomoon';
	font-size: 30px;
}

footer #footer_div2 #footer_google:before
{
	color: white;
	content: "\e000";
	font-family: 'icomoon';
	font-size: 30px;
}

footer #footer_div2 #footer_facebook:before
{
	color: white;
	content: "\e002";
	font-family: 'icomoon';
	font-size: 30px;
}

#contenido_section
{
	background-image: url(fachadatec.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 20px;
}

#contenido_section .article_parrafo
{
	background: white;
	border-radius: 20px;
	padding: 20px 10px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.5);
}

#contenido_section .article_parrafo #h2_article
{
	background: #cc9c00;
	margin-left: 40px;
	margin-top: 0px;
	padding: 10px 0 10px 0;
	text-align: center;
	text-shadow: 3px 3px 3px #666;
	width: 150px;
}

#contenido_section .article_parrafo #foto_sistemas
{
	margin-left: 40px;

}

#contenido_section .article_parrafo #foto_sistemas img
{
	border-radius: 0 0 0.5em 0.5em;
	border: 2px white solid;	
	width: 150px;
}

#contenido_section .article_parrafo .multi_parrafo .color_parrafo
{
	color: #7a474c;
}

#contenido_section .article_parrafo .multi_parrafo .color_parrafo a
{
	color: #7a474c;	
}

#contenido_section .article_parrafo .multi_parrafo
{
	-webkit-column-count: 2;
	-webkit-column-width:15em;

	border-radius: 20px;
	display: inline-block;
	left: -2.5em;
	margin: 0 0 1em 16em;
	padding: 15px;
	position: absolute;
	right: 5px;
	text-align: justify;
	text-shadow: 3px 3px 3px #666;
	top: 5px;
	vertical-align: top;
}



